{% extends 'index.html' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            爬虫管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">爬虫管理</a></li>
        </ol>
    </section>


    <section class="box box-default">
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Alabama</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                </select>
            </div>
        </div>
    </section>


    <!-- Main content -->
    <section class="content">

    </section>
    <!-- /.content -->
{% endblock %}
{% block js %}



    <script>
        $(document).ready(function () {
            var row = '<tbody>';
            $.ajax({
                url: '/api/project/',
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    var html = '';
                    $.each(res, function (ip, project) {
                        var row = '<div class="row"><div class="col-xs-12">' +
                            '<div class="box"><div class="box-header">' +
                            '<h3 class="box-title">' + ip + '</h3>' +
                            '<div class="box-tools">' +
                            '                <ul class="pagination pagination-sm no-margin pull-right">' +
                            '                  <li><a href="#">«</a></li>' +
                            '                  <li><a href="#">1</a></li>' +
                            '                  <li><a href="#">2</a></li>' +
                            '                  <li><a href="#">3</a></li>' +
                            '                  <li><a href="#">»</a></li>' +
                            '                </ul>' +
                            '              </div>' +
                            '</div><div class="box-body table-responsive no-padding">' +
                            '<table class="table table-hover"><tbody>' +
                            '<tr><th>序号</th><th>爬虫</th><th>操作</th>';

                        $.each(project, function (i, spider) {
                            row += '<tr><td>' + spider +
                                '</td><td>' + spider +
                                '</span></td><td>' + spider + '</td></tr>';
                        });
                        row += '</tbody></table></div></div></div></div>';
                        html += row;
                    });
                    $('.content').html(html)
                }
            })
        })
    </script>
    <script>
        function NodeEdit(obj) {
            $.ajax({
                url: '/api/node/' + $(obj).attr("data"),
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    $("input[name='node-name-model']").val(res.name);
                    $("input[name='node-nid-model']").val(res.nid);
                    $("input[name='node-ip-model']").val(res.ip);
                    $("input[name='node-port-model']").val(res.port);
                    $("textarea[name='node-desc-model']").val(res.description);
                }
            })
        }
    </script>
    <script type="text/javascript">
        $('#node-modify').click(function () {
            var nid = $("input[name='node-nid-model']").val();
            var name = $("input[name='node-name-model']").val();
            var ip = $("input[name='node-ip-model']").val();
            var port = $("input[name='node-port-model']").val();
            var desc = $("textarea[name='node-desc-model']").val();
            $.ajax({
                url: '/api/node/' + nid,
                type: 'post',
                data: {nid: nid, name: name, ip: ip, port: port, description: desc},
                success: function (res) {
                    location.href = '/node/'
                }
            })
        });
    </script>
    <script type="text/javascript">
        $('#node-delete').click(function () {
            var nid = $("input[name='node-nid-model']").val();
            $.ajax({
                url: '/api/node/' + nid,
                type: 'delete',
                success: function (res) {
                    location.href = '/node/'
                }
            })
        });
    </script>
{% endblock %}